/* For media queries */
/* Colour scheme */
/* grey */
/* light grey */
/* dark grey */
/* blue */
/* yellow */
.blueimp-gallery .title {
  font-family: "Open Sans", sans-serif;
  color: #d5d9dc;
  text-shadow: none;
  background-color: rgba(90, 99, 108, 0.7);
  opacity: 1;
  /* override */ }

/* Override title brightening on hover */
.blueimp-gallery-controls .title:hover {
  color: #d5d9dc; }

.blueimp-gallery .description {
  position: absolute;
  display: none;
  top: 45px;
  /* space for title */
  left: 15px;
  margin-right: 35px;
  /* so that the it doesn't extend past the 'x' */
  font-family: "Open Sans", sans-serif;
  line-height: 1.2em;
  color: #d5d9dc;
  background-color: rgba(90, 99, 108, 0.7); }
  @media only screen and (min-width: 1024px) {
    .blueimp-gallery .description {
      max-width: 15%; } }

/* display description along with controls on click */
.blueimp-gallery-controls > .description {
  display: block; }
