@import "compass/reset";

$base-font-family: 'Open Sans', sans-serif;

/* For media queries */
$info-md: "only screen and (min-width: 768px)"; 
$info-lg: "only screen and (min-width: 1024px)"; 

/* Colour scheme */
$color1: rgb(149,158,167); /* grey */
$color2: rgb(213,217,220); /* light grey */
$color2semitrans: rgba(213,217,220,0.7);
$color3: rgb(90,99,108); /* dark grey */
$color3semitrans: rgba(90,99,108,0.7);
$color4: rgb(127,158,189); /* blue */
$colorcomp: rgb(255,255,0); /* yellow */

.blueimp-gallery .title {
	font-family: $base-font-family;
	color: $color2;
	text-shadow: none;
	background-color: $color3semitrans;
	opacity: 1; /* override */
}

/* Override title brightening on hover */
.blueimp-gallery-controls .title:hover {
	color: $color2;

	@media #{$info-lg} {
		opacity: 0.8;
	}
}

.blueimp-gallery .description {
	position: absolute;
	display: none;
	top: 45px; /* space for title */
	left: 15px;
	margin-right: 35px; /* so that the it doesn't extend past the 'x' */
	font-family: $base-font-family;
	line-height: 1.2em;
	color: $color2;
	background-color: $color3semitrans;

	@media #{$info-lg} {
		max-width: 15%;	
	}
}

/* display description along with controls on click */
.blueimp-gallery-controls .description {
	display: block;
}