/* 
Pixels	Ems		Ems @ 16	% of 13
922.641	57.665	57.665	7,097.238
615.094	38.443	38.443	4,731.492
410.063	25.629	25.629	3,154.331
273.375	17.086	17.086	2,102.885
182.25	11.391	11.391	1,401.923
121.5	7.594	7.594	934.615
81		5.063	5.063	623.077
54		3.375	3.375	415.385
36		2.25	2.25	276.923
24		1.5		1.5		184.615
16		1		1		123.077
10.667	0.667	0.667	82.054
7.111	0.444	0.444	54.700
4.741	0.296	0.296	36.469
3.161	0.198	0.198	24.315
2.107	0.132	0.132	16.208
1.405	0.088	0.088	10.808
*/

@import "compass/reset";

@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
$heading-font-family: 'League Gothic', 'Open Sans', sans-serif;

/* For media queries */
$mq-sm: "only screen and (min-width: 480px)";
$mq-md: "only screen and (min-width: 768px)"; 
$mq-lg: "only screen and (min-width: 1024px)"; 
$mq-xl: "only screen and (min-width: 1824px)";

/* Colour scheme */
$color1: rgb(149,158,167); // grey
$color2: rgb(213,217,220); // light grey
$color2semitrans: rgba(213,217,220,0.6);
$color3: rgb(90,99,108); // dark grey
$color3semitrans: rgba(90,99,108,0.7);
$color4: rgb(127,158,189); // blue
$color5: rgb(17,17,17); //black
$colorOpp: rgb(255,255,0); // yellow


html {
	/* Base values */
	font-family: $base-font-family;
	font-size: $base-font-size;

	/* Selection colour */
	::selection {
		background: $color4; 
		color: $color5;
	}
	::-moz-selection { 
		background: $color4; 
		color: $color5;
	}
}

a {
	color: $color2;

	&:hover {
		background-color: transparent;
		color: $color4;
		text-decoration: none;
	}
}

h1 {
	color: $color2;
	font-family: $heading-font-family;
	font-size: 1.5em;
	line-height: 1.3em;
	text-align: center;
	
	@media #{$mq-sm} { font-size: 2.25em; }
	@media #{$mq-md} { font-size: 3.375em; }
}

nav {
	font-size: 0.667em;
	margin-top: 15px;
	margin-left: 15px;
	position: fixed;
	width: 700px;
	z-index: 2; // to put it above everything

	@media #{$mq-sm} {font-size: 1em;}	

	ul li {
		display: block;
		list-style: none;
		line-height: 2.25em;

		@media #{$mq-md} { line-height: 1.5em; }
	}	

	a { text-decoration: none; }
}

// Classes to change colour of nav when scrolling
.lightGrey {
	a {
		color: $color2;
		&:hover { color: $color4; }
	}

	.logo a:hover { color: $color2; }
}

.darkGrey {
	a {
		color: $color3;
		&:hover { color: $color4; }
	}

	.logo a:hover { color: $color3; }
}

.logo {
	font-family: $heading-font-family;
	font-size: 1.5em;
	line-height: 0.667em;
	padding-left: auto;
	padding-right: auto;
	
	@media #{$mq-sm} { font-size: 3.375em; }

	@media #{$mq-md} {
		font-size: 5.063em;
		letter-spacing: -3px;
	}
}

#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: url('../img/sunset2.jpg') no-repeat center center fixed;
	background-size: cover;
	min-height: 500px;

	@media #{$mq-sm} {
		min-height: 1000px;
	}

	@media only screen and (min-width: 1400px) {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background: url('../img/sunset2.jpg') no-repeat center -125px fixed;
		background-size: cover;
	} 
}

#portfolio {
	padding-top: 75px; // some padding at the top before images begin
	position: relative;
	min-height: 500px;
	max-width: 210px; // width of a thumbnail is ~200px
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
	
	a:hover { background-color: transparent }
	
	@media #{$mq-sm} {
		max-width: 420px; //width of two thumbnails
		min-height: 1000px;
	}

	@media #{$mq-md} {
		max-width: 80%;
		padding-top: 100px;
		padding-left: auto;
		padding-right: auto;
	}

	@media #{$mq-lg} {
		max-width: 60%;
		padding-top: 75px;
	}
}

.aboutMe {
	background-color: $color2semitrans;
	font-size: 0.667em;
	line-height: 1em;
	max-width: 100%;
	padding: 2em 0;
	position: absolute;
	top: 125px;
	
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 95%;
		padding-bottom: 0.444em;
		text-align: center;
	}
	
	@media #{$mq-sm} {
		line-height: 1.4em;
		font-size: 1em;
		top: 30%;
	}

	@media #{$mq-lg} {
		border-radius: 0.296em;
		margin-left: auto;
		margin-right: auto;
		max-width: 70%;
		position: relative;
		top: 220px;
		
		p {	max-width: 65%; }
	}

	@media #{$mq-xl} {
		font-size: 1.2em;
		top: 275px;
	}
}

/* Description label for background image on homepage */
.bgDescLabel {
	bottom: 15px;
	color: $color2;
	font-size: 0.444em;
	left: 15px;
	position: absolute;
	
	@media #{$mq-sm} {font-size: 1em;}

	.date { 
		font-size: 0.667em;
		padding-top: 3px;
		padding-bottom: 6px; 
	}
}

.toPortfolio {
	background: url("../img/ArrowLightGrey.png") no-repeat center center;
	display: none;

	@media #{$mq-md} { 
		bottom: 1%;
		display: block;
		height: 30px;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
		width: 30px; // Change to size of icon~~~~~~~~`
	}
	
	@media #{$mq-lg} { bottom: 15px; }
}

.toHome {
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transofmr:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform: rotate(180deg);
	background: url("../img/ArrowDarkGrey.png") no-repeat center center;
	bottom: 30px;
	display: none;
	height: 30px;
	position: fixed;
	right: 10%;
	width: 30px;
	z-index: 2;
}

.instructions {
	display: block;
	margin-top: -35px; // negative because I want it to go up
	position: absolute;
	width: 200px; // approx width of 1 thumbnail (so that I can center text)
	
	p { 
		color: $color3;
		font-size: 0.444em;
		text-align: center; 
	}
	
	@media #{$mq-sm} {
		display: none; // going to fade it in with in with js
		margin-top: -50px;
		width: 400px; // approx width of 2 thumbnails
		
		p { font-size: 1em; }
	}

	@media #{$mq-md} { width: 720px; } // approx width of 3 thumbnails
	
	@media #{$mq-lg} { 
		bottom: 30px;
		left: 15px;
		max-width: 19%; // 60% for thumbnails, then divided by 2 for width of one side 
		position: fixed;
		top: auto;
		
		p { text-align: left; }
	}
}

/* thumbnails resize automatically, with a set minimum size */
.thumb {
	height: auto;
	min-width: 200px;
	width: 32%; // max 3 images per row so each image takes up 1/3 of the div, rounded down just to make sure it doesn't go to next line
}

/* Create some padding at bottom of page */
.lastrow {
	margin-bottom: 100px; 
}