/***********************
****** Variables *******
***********************/

$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$heading-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$caption-font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;

/* For media queries */
$mq-sm: "only screen and (min-width: 480px)";
$mq-md: "only screen and (min-width: 768px)";
$mq-lg: "only screen and (min-width: 1024px)";
$mq-xl: "only screen and (min-width: 1400px)";

/* Colour scheme */
$color1: rgb(234,236,238);
$color2: rgb(213,217,220);
$color3: rgb(90,99,108);
$color4: rgb(127,158,189);
$color5: rgb(20,20,20);


/***********************
******** Mixins ********
***********************/

@mixin fadeIn {
	-webkit-animation: fadein 0.5s;
       -moz-animation: fadein 0.5s;
        -ms-animation: fadein 0.5s;
         -o-animation: fadein 0.5s;
            animation: fadein 0.5s;
}

@mixin fadeOut {
	-webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
        -ms-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;
            transition: opacity 0.5s ease-in;
}

@mixin transitionAll {
	-webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

/***********************
****** Animations ******
***********************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/***********************
**** Global Styles *****
***********************/

html {
  @include fadeIn;
  height: 100%;
  min-width: 320px;
  width: 100%;

	::selection {
    background-color: $color4;
    color: white;
  }

	::-moz-selection {
    background-color: $color4;
    color: white;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  height: 100%;
  line-height: normal;
  margin: 0;
  width: 100%;

  @media #{$mq-lg} {
    display: -webkit-flex;
    display: flex;
  }
}

a {
	@include transitionAll;
	color: $color4;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
  font-weight: 700;
}

h1 {
	font-size: 1.5em;
	@media #{$mq-sm} { font-size: 2.25em; }
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1em;
}

ul,
ol { padding: 0; }

blockquote {
  box-sizing: border-box;
  font-style: italic;
  padding: 0 1rem;
}

strong {
  font-weight: 700;
}

section {
  -webkit-flex: 1;
  flex: 1;
}

.hide,
.hide.hide-b-sm,
.hide.hide-b-md,
.hide.hide-b-lg,
.hide.hide-b-xl {
  display: none;
}

.hide-opacity {
	@include fadeOut;
	opacity: 0;

	a { cursor: default; } // faking it
}

.show-opacity {
	@include fadeIn;
	opacity: 1;
}

.hide-b-sm {
	display: none;
	@media #{$mq-sm} { display: initial; }
}

.hide-a-sm {
	display: initial;
	@media #{$mq-sm} { display: none; }
}

.hide-b-md {
  display: none;
  @media #{$mq-md} { display: initial; }
}

.hide-a-md {
  display: initial;
  @media #{$mq-md} { display: none; }
}

.hide-b-lg {
	display: none;
	@media #{$mq-lg} { display: initial; }
}

.hide-a-lg {
	display: initial;
	@media #{$mq-lg} { display: none; }
}

.container {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.text-impactful {
  font-family: 'PT Sans Narrow';
  font-size: 2rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}

.no-m-top {
  margin-top: 0;
}

img.w15 {
  width: 15%;
}

img.w25 {
  width: 25%;
}

img.w33 {
  width: 33%;
}

img.w50 {
  width: 50%;
}

img.w75 {
  width: 75%;
}

/***********************
********* Nav **********
***********************/

nav {
  background-color: $color4;
  color: white;
  transition: width 0.5s; /* improve */
  width: 100%;

  @media #{$mq-lg} {
    align-items: flex-start;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 5em;

    &:hover { width: 6em; }
  }
}

nav.expand {
  align-items: center;
  width: 100%;

  .about { display: initial; }

  @media #{$mq-lg} { width: 50%; }
}

nav .container {
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 { margin-bottom: 1em; }

  ul {
    margin: 0;

    @media #{$mq-lg} {
      margin-top: 2rem;
    }
  }

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;

    &:first-child { margin-left: 0; }
  }

  a { color: white; }

  a:hover,
  a:hover i {
    @include transitionAll;
    color: rgba($color2, 0.8);
  }

  .about { margin: 1rem 0; }

  @media #{$mq-lg} {
    flex-direction: column;
    padding-top: 2em;
    text-align: center;

    > * {
      width: 100%;
    }
  }
}

nav.expand .container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 5em 15%;
  text-align: left;

  ul {
    margin-top: 0.75rem;
    width: 100%;
  }
}

nav .about {
  display: none;
}

body:not(.home) nav li {
  @media #{$mq-lg} {
    display: list-item;
    margin: 0 0 1em;
  }
}

/***********************
****** Portfolio *******
***********************/

.portfolio .container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding: 5rem 2rem;

  @media #{$mq-sm} {
    padding-left: 15%;
    padding-right: 15%;
  }

  @media #{$mq-lg} {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.thumb {
  @include fadeIn;
  background-size: 100%;
  background-position: center;
  margin-bottom: 5rem;
  min-height: 225px;
  transition: all 0.35s;
  width: 100%;

  @media #{$mq-lg} {
    min-height: 300px;
  }
}

.thumb-desc {
  color: $color3;
  margin: 0.5rem 0;
  text-align: center;

  &:last-of-type { margin-bottom: 0; }

  > * {
    margin: 0;
  }
}

.portfolio a:hover .thumb {
  background-size: 105%;
  box-shadow: inset 0 0 0 100vmax rgba($color5, 0.1);
}

/***********************
****** Thumbnails ******
***********************/

.thumb-beacon { background-image: url("../img/portfolio/beacon-thumb.png"); }
.thumb-camabis { background-image: url("../img/portfolio/camabis-thumb-2.png"); }
.thumb-connect { background-image: url("../img/portfolio/connect-thumb-2.png"); }
.thumb-docscom { background-image: url("../img/portfolio/docscom-thumb-2.png"); }
.thumb-juno { background-image: url("../img/portfolio/juno-thumb.png"); }
.thumb-shopify { background-image: url("../img/portfolio/shopify-thumb.png"); }
.thumb-tabbit { background-image: url("../img/portfolio/tabbit1.png"); }

/***********************
******* Projects *******
***********************/

.project a:hover {
  background-color: rgba($color2, 0.8);
  opacity: 1;
}

.project .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-right: 0;
  position: absolute;
  width: initial;

  @media #{$mq-lg} {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.project .main {
  -webkit-flex: 1;
  flex: 1;
  padding: 1em;

  @media #{$mq-lg} {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.project .main {
  h2,h3,h4,h5,h6 {
    color: $color3;
    margin: 2rem 0 0.25rem;

    &.no-m-top {
      margin-top: 0;
    }
  }

  h2 { margin-top: 3rem; }
  h3 { font-size: 1rem; }

  p,
  blockquote,
  em,
  ul,
  ol {
    color: $color3;
    line-height: 1.5;
    margin: 1rem 0;

    @media #{$mq-lg} {
      margin-top: 0;
      max-width: 600px;
    }
  }

  ol,
  ul {
    color: $color3;
    margin: -1em 0 0.5rem 1.5em;
  }

  img {
    display: block;
    margin: 1em 0 0.5em;
    max-width: 72rem;
  }

  img:not([class*='w']) {
    width: 100%;
  }

  img.screenie {
    border: 1px solid $color2;
    margin: 0 auto;

    @media #{$mq-lg} {
      margin: initial;
    }
  }

  img + p {
    margin-top: 1rem;
  }

  .screenie-group {
    align-items: baseline;
    display: flex;
    overflow-x: scroll;

    img {
      display: inline-block;
      margin-right: 1em;
      max-height: 500px;
      width: auto;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .caption {
    font-family: $caption-font-family;
    font-size: 0.75em;
    margin: 0.5rem 0 1.5rem;
    text-align: center;

    @media #{$mq-lg} {
      text-align: left;
    }
  }

  .problem {
    border-radius: 0.25em;
    font-size: 1.25em;
    font-style: italic;
    margin: 1em 0;
    padding: 2rem;
    text-align: center;

    @media #{$mq-lg} {
      max-width: 530px;
    }
  }
}

.project .details {
  border-bottom: 1px solid $color3;
  box-sizing: border-box;
  flex-shrink: 0;
  line-height: 1.5;
  min-width: 200px;
  padding: 1em;
  position: relative;
  width: 100%;

  @media #{$mq-lg} {
    border-bottom: none;
    width: 20rem;
  }

  @media #{$mq-xl} {
    width: 25rem;
  }
}

.project .details {
  > *,
  ul a {
    color: $color3;
  }

  li {
    list-style-type: none;
    margin-bottom: 0.1em;
  }

  .title {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }

  .sub-title {
    font-size: 0.8em;
  }

  .description {
    margin: 1em 0;
  }
}

.project .table-of-contents {
  border-top: 1px solid $color2;
  margin-top: 1.5rem;

  h4 {
    margin-top: 1.5rem;
  }

  .active,
  .active:hover {
    background-color: initial;
    color: $color4;
  }
}

.mobile .table-of-contents {
  display: none;
}

.project .project-nav {
  padding-top: 1em;
  text-align: center;

  @media #{$mq-lg} {
    padding-top: 0;
    text-align: left;
  }
}

.mobile .project-nav {
  display: none;
}

.project .project-nav {
  .link {
    display: inline-block;
    margin-bottom: 0.25em;

    i { margin-right: 0.5em; }
  }

  .link.hide {
    display: none; // re-specifying
  }

  .link.back,
  .link.next {
    margin: 0 0.5em;

    @media #{$mq-lg} {
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }

  .link.back {
    @media #{$mq-lg} {
      bottom: 2em;
    }
  }
}
