* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

p {
  color: #5a636c;
  font-weight: 300;
  margin-bottom: 10px;
}

a {
  color: #5a636c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  padding: 100px 20px;
}

.section.intro {
  border-bottom: 1px solid #c2c4c6;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.section > * {
  margin-bottom: 70px;
}

.external-links a {
  display: inline-block;
  margin-right: 20px;
}

.work-headline {
  font-weight: normal;
}

.work-headline strong {
  font-weight: 600;
}

.work-headline a {
  color: black;
}

.work-team {
  font-weight: 400;
  margin-top: 20px;
}

.work-icon {
  display: inline-block;
  margin-right: 5px;
}

.work-meta {
  color: #858B91;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 300;
}
