<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Melody Kuo
  meta(name="keywords" content="melody kuo, systems design engineering, syde, waterloo, design, pm, product")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico")

  link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css')

  link(rel="stylesheet" href="css/styles.css")

  script(src="https://use.fontawesome.com/ada50ab408.js")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45141851-1', 'auto');
    ga('send', 'pageview');

  script.
    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url);
    }
