nav(class= expandNav ? "expand" : undefined)
  .container
    h1
      a(href="index.html") M
    .about.hide-b-lg
      h1 Hello, my name is 
        span.nowrap Melody Kuo
      p
        | I'm a 
        span.nowrap Systems Design Engineering 
        | student at the 
        span.nowrap University of Waterloo 
        | and I'm fascinated with everything design. 
      p I love being creative and making pretty things but I also thrive on tackling technical challenges. Having said that, my inability to settle into one field means I'm a generalist constantly striving to learn new things.
      p I like fashion, reading and following way too many shows 
        span.nowrap at once. 
        | Kanye is my idol and I'm only 5% joking when 
        span.nowrap I say that.
    ul
      li
        a(href="melodykuo.pdf" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-file-text-o
          span.link-desc.hide-b-md  Resum&eacute;
      li
        a(href="https://github.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-github
          span.link-desc.hide-b-md  GitHub
      li
        a(href="https://ca.linkedin.com/in/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-linkedin
          span.link-desc.hide-b-md  LinkedIn
      li
        a(href="https://instagram.com/melku0" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-instagram
          span.link-desc.hide-b-md  Instagram
      li
        a(href="mailto:me@melodykuo.com")
          i.fa.fa-fw.fa-envelope-o
          span.link-desc.hide-b-md  Email
