nav(class= expandNav ? "expand" : undefined)
  .container
    a(href="index.html" role="to-index").hide
      i.fa.fa-fw.fa-lg.fa-home
    .about.hide-b-lg
      h1 Hello, my name is 
        span.nowrap Melody Kuo
      p
        | I'm a 
        span.nowrap Systems Design Engineering 
        | student at the 
        span.nowrap University of Waterloo 
        | and I'm fascinated with design. I want to use design and data-driven approaches to create beautiful products that provide amazing 
        span.nowrap user experiences.
      p I like fashion, reading and listening to podcasts to sleep. Kanye is my idol and I'm only 5% joking when 
        span.nowrap I say that.
    ul
      li
        a(href="melodykuo.pdf" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-file-pdf-o
      li
        a(href="https://github.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-github
      li
        a(href="https://ca.linkedin.com/in/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-linkedin
      li
        a(href="https://instagram.com/melku0" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-instagram
      li
        a(href="mailto:me@melodykuo.com")
          i.fa.fa-fw.fa-lg.fa-envelope-o
