nav(class= expandNav ? "expand" : undefined)
  .container
    a(href="index.html" role="to-index").hide
      i.fa.fa-fw.fa-lg.fa-home
    .about
      h1 Hi, I'm Melody
      p
        | I like thinking about products and how people use them. I've 
        a(href="/shopify.html") designed at Shopify
        | , 
        a(href="/docscom.html") PM'd at Microsoft
        |  and 
        a(href="/connect.html") developed at a startup
        | .
    ul
      li
        a(href="MelodyKuo.pdf" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-file-text-o
      li
        a(href="https://github.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-github
      li
        a(href="https://ca.linkedin.com/in/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-linkedin
      li
        a(href="mailto:me@melodykuo.com" onclick="trackOutboundLink(this.href);")
          i.fa.fa-fw.fa-lg.fa-envelope-o
