-var backBtn = true;

include ./head.jade

body
  include ./nav.jade

  section.project
    .container
      .main
        block main

      .details
        block title
          .title No Title
        block subTitle
          .sub-title
        block description
          .description
        block links
          //- a.link(href="")
          //-   i.fa.fa-external-link
        block nav
          //- a.link.back(href="")
          //-   i.fa.fa-long-arrow-left
          //- a.link.next(href="")
          //-   i.fa.fa-long-arrow-right
