include ./head.jade

body
  include ./nav.jade

  section.project
    .container
      .details
        block title
          .title No Title
        block subTitle
          .sub-title
        block description
          .description
        block links
        .project-nav
          a.link.back.hide(role="prev-proj")
            i.fa.fa-long-arrow-left
          a.link.next.hide(role="next-proj")
            i.fa.fa-long-arrow-right

      .main
        block main

  script(src="js/scripts.js")
