include ./head.jade

body
  include ./nav.jade

  section.project
    .container
      .details
        block title
          .title No Title
        block subTitle
        block description
        ul
          block links
        .table-of-contents#js-scrollspy
          h4 Table of contents
          ul.js-scrollspy-nav
            block tableOfContents
        .project-nav
          a.link.back.hide(role="prev-proj")
            i.fa.fa-long-arrow-left
          a.link.next.hide(role="next-proj")
            i.fa.fa-long-arrow-right

      .main#js-scrollspy-scroller
        block main

  script(src="js/cmap.json")
  script(src="js/detectmobilebrowser.js")
  script(src="js/scrollspy.js")
  script(src="js/scripts.js")
