extends ./global/project.jade

block main
  p For our third year design project, my group created Beacon, an Internet-of-Things enabled kitchen monitoring system. Beacon is composed of three components:
  ol
    li A smart outlet - we used the 
      a(href="http://www.belkin.com/us/F7C029-Belkin/p/P-F7C029;jsessionid=437ED269475814B329F31EFD4C38A38F/" target="_blank") WeMo
      |  in our prototype
    li A sensor - a PIR proximity sensor able to detect motion up to 6 m away
    li An iOS app
  p If the smart outlet detects that a kitchen appliance is turned on and the sensor doesn't detect anyone in the kitchen for a given amount of time, Beacon will send a notification to the homeowners using the mobile app. If they don't respond, the appliance will be turned off automatically, preventing fires and household accidents.
  img.screenie(src="img/portfolio/beacon-how-it-works.png")
  p.caption Beacon's schematic.
  p We went through the entire design process:
    ol
      li coming up with a problem statement
      li examining the state of the art
      li developing customer needs and product requirements
      li brainstorming concepts and testing them and
      li analyzing impacts before finally
      li creating a prototype.
  p You can check it out in our 
    a(href="https://doc.co/mKrRHr/UvyhH6") report
    | .
  p I worked on creating Beacon's physical housing, allowing me to learn all about the machine shop and its tools. I also worked on branding, coming up with Beacon's name and logo.
  img.w50(src="img/portfolio/beacon-logo.png")
  p.caption Beacon's logo
  p You can also check out the 
    a(href="https://doc.co/cC87dU" target="_blank") slides
    |  we used for our demo.


block title
  .title Beacon

block subTitle
  p.sub-title
    | May&ndash;August 2015
    br
    | School project

block description
  .description Creating an Internet-of-Things enabled kitchen monitoring system.
