extends ./global/project.jade

block main
  p
    a(href="http://monstercat.com" target="_blank") Monstercat 
    | is an independent edm record label. They have a music streaming web application called 
    a(href="http://connect.monstercat.com" target="_blank") Connect
    |  which contains all the tracks that have been released through the label.
  img.screenie(src="img/portfolio/connect-welcome-fold.jpg")
  p.caption Connect's landing page.
  p I worked primarily on the front end of the site, using my technical skills to add new features and functions, and redesign pages.
  img.screenie(src="img/portfolio/connect-catalog.jpg")
  p.caption The catalog.
  p I've touched every single page of the site in one way or another, from  
    span.nowrap user-facing 
    | to 
    span.nowrap admin-only, 
    | whether it's changing a single component or completely redesigning a page. I loved the creative freedom that comes with taking charge of the entire process, from sketches on paper to code on the screen. This meant that I always had to put myself in the mindset of our users.
  p For example, there used to be two music players: a mini-player in the top header with a basic set of controls and a full player that opened from the right of the page. We deemed two players redundant and unnecessary and decided to have one universal, 
    span.nowrap non-collapsible 
    | player at the bottom of the page.
  img.screenie(src="img/portfolio/connect-player-playlist.jpg")
  p.caption Music player with playlist opened.
  p Putting a universal player at the bottom worked really well for mobile too.
  img.screenie.w50(src="img/portfolio/connect-catalog-mobile.png")
  p.caption Music player and catalog on mobile.
  p I've also completely overhauled pages like the Dashboard, where users can see our most recent releases. I created a blog functionality so that we can keep users updated about changes and new features added to the site.
  img.screenie(src="img/portfolio/connect-dashboard.jpg")
  p One of my favourite projects was performing a UX audit of the site. I used design principles, conducted user interviews and created Hierarchical Task Analyses (HTA) to analyze the site for user experience issues. I made recommendations from these and then implemented those changes. For example, the music player update came from this audit.
  p As another example, the landing page used to be a single page with two buttons that took you to separate sub-pages for our different subscription services. From user interviews and HTA's, we realized that this was a lot of unnecessary work for users. To explore their options and learn about our subscription types, users had to click one sub-page, read it, then have to navigate back to the main page before they could click and read the other.
  .dual
    img.screenie(src="img/portfolio/connect-ux-gist.jpg")
    img.screenie(src="img/portfolio/connect-welcome-hta.jpg")
    p.caption Snippet of recommendations.
    p.caption HTA of sign-up process.
  p So, I added a brief description of each subscription type to the main page, with a "Learn More" button that takes the user to the more detailed sub-page. Having this information helped prevent users from clicking the wrong sub-page. We also added a sign up form at the bottom so that users could sign up right from this page if they already knew what subscription they wanted.
  img.screenie.w50(src="img/portfolio/connect-welcome.jpg")
  p.caption Redesigned landing page. Some parts were cropped out. For full landing page, visit 
    a(href="http://connect.monstercat.com") Connect
    | .

block title
  .title Monstercat Connect

block subTitle
  .sub-title January&ndash;April 2015
  .sub-title Jade, CSS, Less, CoffeeScript, Backbone, Express, Node, MongoDB

block description
  .description Monstercat's music streaming web application.

block links
  a.link(href="http://connect.monstercat.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Link to Connect.
  br
  a.link(href="http://www.monstercat.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span About Monstercat.