extends ./global/project.jade

block main
  p For my third work term, I worked at 
    a(href="http://www.klick.com" target="_blank") Klick Health
    | , a digital marketing agency for pharmaceutical companies primarily in the US. One of the largest projects I worked on was for 
    a(href="http://www.contrave.com" target="_blank") Contrave
    | , one of Klick's clients, working on their site update.
  img.screenie(src="img/portfolio/contrave-fold.jpg")
  p.caption Contrave's home page.
  p I fixed bugs, updated existing pages and created completely new ones based on Photoshop files and client feedback.
  img.screenie(src="img/portfolio/contrave-scaledown.jpg")
  p.caption Scaledown page - just one of the pages I added.

block title
  .title Contrave

block subTitle
  .sub-title August 2014
  .sub-title HTML, CSS, jQuery

block description
  .description Contrave site update.

block links
  a.link(href="http://www.contrave.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Link to Contrave's site.
  br
  a.link(href="http://www.klick.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span About Klick Health.
