extends ./global/project.jade

block main
  p
    a(href="http://docs.com" target="_blank") Docs.com 
    | by Microsoft is a site to publish Office documents without losing animations or formatting.
  img.screenie(src="img/portfolio/docscom-home.png")
  p.caption Docs.com's homepage.
  p I was given the task of exploring the social experience for authors on Docs.com. That is, 
  blockquote How can we leverage social to encourage more authors to publish on Docs.com?

  h2 Hypotheses
  p My first task was to brainstorm hypotheses on how to achieve our goal. Through talking with others on the team, ultimately, the one I landed on was:
  blockquote "Authors want their egos stroked. Positive engagement from readers (views, likes, comments) makes authors feel good, encouraging them to post more."

  h2 Validation
  p I needed to test my hypothesis to see if it would hold. So, I created some fake accounts and left comments on content I'd find to see if I could get a response. Currently, notifications aren't sent out through email, so if the author responded, it means they're engaged enough that they returned to the site, which we assume means they're more likely to return.

  h2 Pivot
  p Through my comment creeping, I discovered that authors were more likely to respond if I found their content through Twitter, as opposed to our internal RSS feed of new content. Users only responded to engagement if they were actively seeking it. So, I changed the hypothesis accordingly:
  blockquote "Authors want their egos stroked 
    strong if they ask for it
    | ."
  p If we can encourage authors to share their work after publishing content, they have a greater chance of getting engagement from readers. If they get more engagement from readers, it leaves a positive impression of Docs.com, so they're more likely to post again in the future.
  p So how do we get authors to share their work after publishing? A first thought might be to have a pop-up or dialog appear afterwards that's like "Hey share your work to your friends!", but other sites don't seem to need to do that. Perhaps we just needed to improve our upload process altogether.

  h2 Current Upload Process
  img.screenie(src="img/portfolio/docscom-current.png")
  p.caption The existing upload process.
  p The current upload process has four steps:
  ol
    li
      strong Upload 
      | a document.
    li 
      strong Edit 
      | the document's details, including name, description, visibility and permissions.
    li Get prompted to 
      strong share 
      | document on social media.
    li Be taken to your 
      strong profile page
      | .

  h2 User Studies
  p I used interviews to ask users of their opinion of each step in the process. Most users found the "Edit Details" page overwhelming and confusing, which is unsurprising with the amount of information that is laid out in a non-linear fashion.
  p We also noticed that no where in the actual process can users actually see their document. Users can't see their document in the Docs.com UI and be assured that it looks as it's intended. How can we expect users to share their work out to the world if they don't even know what it looks like? So again, our hypothesis evolved.
  blockquote "Authors want to see their content before sharing it out to others."

  h2 Redesigning
  p I looked at different sites and their upload processes. How did they split up their steps? How did they layout their version of the "Edit Details" page? How did they do it on mobile? From that research, I created three mockups.
  .dual
    img.screenie(src="img/portfolio/docscom-mockup-classic.png")
    img.screenie(src="img/portfolio/docscom-mockup-wysiwyg.png")
    p.caption The classic. Similar to the current version but laid out neater.
    p.caption WYSIWYG. Users see their document as they would normally on Docs.com, but in "Edit" mode.
  img.screenie.w50(src="img/portfolio/docscom-mockup-speedy.png")
  p.caption The modal. A modal pop ups with the options separated into tabs.
  p Again, I used user studies to gather feedback. Overwhelmingly, users hated the modal, thinking of it as a "pop-up". Also, by splitting up the form into tabs, users considered that as extra steps they had to take to accomplish the task.
  p Users seemed to like the WYSIWYG version the best, saying that they liked being able to see their document concurrently and that they liked the large visual. We decided to use these benefits in our redesign.
  img.screenie(src="img/portfolio/docscom-redesign.png")
  p.caption The proposed redesign is reduced to three steps.
  img.screenie(src="img/portfolio/docscom-edit-details.png")
  p.caption A proposal of the new Edit Details page.

  h2 Validation Plan
  blockquote "Authors want to see their content before sharing it out to others."
  p The plan is to A/B test different changes to the upload process over multiple iterations. Overall though, we want to see how sharing after publishing is effective, especially by removing the share screen.
  p Our overall goal is month over month retention, so monitoring the return rate for authors after a smaller number of days is a good indication of that.
  p Although this hasn't been implemented yet, it'll be interesting to see how this data will change and improve further iterations of this design. 

block title
  .title Docs.com

block subTitle
  .sub-title September&ndash;December 2015

block description
  .description Re-designing the upload process of Docs.com.

block links
  a.link(href="http://docs.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Docs.com.
  br
  a.link(href="https://www.office.com/" target="_blank")
    i.fa.fa-fw.fa-external-link
    span About Microsoft Office.