extends ./global/project.jade

block main
  p
    a(href="http://docs.com" target="_blank") Docs.com 
    | by Microsoft is a site to publish Office documents without losing animations or formatting.
  img.screenie(src="img/portfolio/docscom-home.png")
  p.caption Docs.com's homepage.
  p As a Program Manager, I redesigned the user flow for publishing a document onto the site.

  h2 Current Upload Process
  img.screenie(src="img/portfolio/docscom-current.png")
  p.caption The existing upload process.
  p When a user presses "Publish", they're taken through four steps:
  ol
    li
      strong Upload 
      | a document.
    li 
      strong Edit 
      | the document's details, including name, description, visibility and permissions.
    li Get prompted to 
      strong share 
      | document on social media.
    li Be taken to your 
      strong profile page
      | .

  h2 Hypotheses and Rationale
  p The ultimate goal is to increase the number of published documents. Retention is a huge part of that; we want authors who have published once to come back and publish again. Through data, we found that a user was more likely to return to the site if they saw their profile page or document. Our goal was to increase the number of people who complete the upload process and see their profile page.
  blockquote "Authors who see their profile page in Month A are more likely to return in Month B."

  h2 User Studies
  p I used anonymous user surveys to get feedback on the current upload process. We learned that most users found the "Edit Details" page overwhelming and confusing. I then set out to redesign it.

  h2 Redesigning the "Edit Details" Page
  p I looked at different sites and their upload processes. From that research, I created three mockups.
  .dual
    img.screenie(src="img/portfolio/docscom-mockup-classic.png")
    img.screenie(src="img/portfolio/docscom-mockup-wysiwyg.png")
    p.caption The classic. Similar to the current version but laid out neater.
    p.caption WYSIWYG. Users see their document as they would normally on Docs.com, but in "Edit" mode.
  img.screenie.w50(src="img/portfolio/docscom-mockup-speedy.png")
  p.caption The modal. A modal pop ups with the options separated into tabs.
  p Again, I used user studies to gather feedback. Overwhelmingly, users hated the modal, thinking of it as a "pop-up". Also, by splitting up the form into tabs, users considered that as extra steps they had to take to accomplish the task.
  p Users seemed to like the WYSIWYG version the best, saying that they liked being able to see their document concurrently and that they liked the large visual. We decided to use these benefits in our redesign.
  img.screenie(src="img/portfolio/docscom-edit-details.png")
  p.caption A proposal of the new Edit Details page.

  h2 Redesigning the Flow
  p From examining competitors, I noticed that none of them had an explicit share dialog screen like we did. Removing it decreases the number of steps in the process, making it easier for users to complete. In lieu of an explicit screen, we could just take the users to their document view, where share options exists.
  img.screenie(src="img/portfolio/docscom-redesign.png")
  p.caption The proposed redesign is reduced to three steps.

  h2 Results
  img.screenie(src="img/portfolio/docscom-implementation.png")
  p.caption Implementation of the Edit Details page. Description field shows hover state.
  p The redesign was A/B tested. This first iteration led to 
    strong 3% increase in completed uploads
    |  and 
    strong 4% increase in week-over-week retention
    | . By increasing the number of successful uploads, more users saw their profile page, thus retention increased.
  p This was only the first iteration. Future iterations will hopefully see continual growth.


block title
  .title Docs.com

block subTitle
  .sub-title September&ndash;December 2015
  .sub-title Role: Program Manager
  .sub-title User surveys, A/B testing, Moqups, Invision

block description
  .description Re-designing the upload process of Docs.com.

block links
  a.link(href="http://docs.com" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Docs.com
  br
  a.link(href="http://docs.com/melody" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Docs.com profile
