-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      a(href="shopify.html")
        .thumb-desc
          h2 Shopify
          p Making it easier to select a theme
        .thumb.thumb-shopify
      a(href="docscom.html")
        .thumb-desc
          h2 Docs.com by Microsoft
          p Redesigning the upload process
        .thumb.thumb-docscom
      a(href="connect.html")
        .thumb-desc
          h2 Monstercat Connect
          p Developing a music streaming web app
        .thumb.thumb-connect
      a(href="camabis.html")
        .thumb-desc
          h2 Camabis
          p Prototyping a plant disease detection system
        .thumb.thumb-camabis
