-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      .thumb-container
        a(href="shopify.html").thumb.thumb-shopify
          .thumb-desc
            h2 Shopify
            p Making it easier to select a theme
      .thumb-container
        a(href="docscom.html").thumb.thumb-docscom
          .thumb-desc
            h2 Docs.com
            p Redesigning the upload process
      .thumb-container
        a(href="connect.html").thumb.thumb-connect
          .thumb-desc
            h2 Monstercat Connect
            p Developing a music streaming web app
      .thumb-container
        a(href="camabis.html").thumb.thumb-camabis
          .thumb-desc
            h2 Camabis
            p A plant disease detection system
