<!DOCTYPE html>
html(lang="en")
  include ./global/head.jade

  body.v2.flex
    div
      h1 Melody Kuo
      ul.roles
        li currently
          ul
            li product manager, uber
        li previously
          ul
            li design intern, shopify
            li product intern, microsoft
            li engineering intern, monstercat
        li
          ul
            li Systems Design Engineering, UWaterloo
      ul.links
        li
          a(href="https://ca.linkedin.com/in/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-linkedin
        li
          a(href="https://goodreads.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-goodreads
        li
          a(href="mailto:hi@melodykuo.com" onclick="trackOutboundLink(this.href);")
            i.fas.fa-fw.fa-lg.fa-envelope-square
