-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      a(href="connect.html")
        .thumb.thumb8
          .thumb-desc
            h3 Connect
            p Redesigning a music streaming web app.
      a(href="tabbit.html")
        .thumb.thumb7
          .thumb-desc
            h3 Tabbit
            p Creating a Chrome extension for the new tab page.
      a(href="tabbit.html")
      a(href="contrave.html")
        .thumb.thumb6
          .thumb-desc
            h3 Contrave
            p Developing on pharmaceutical sites.
