-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      a(href="connect.html")
        .thumb.thumb8
      a(href="tabbit.html")
        .thumb.thumb7
      a(href="contrave.html")
        .thumb.thumb6
      a(href="robot.html")
        .thumb.thumb4
      a(href="thread.html")
        .thumb.thumb3
      a(href="red.html")
        .thumb.thumb1
