-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      .thumb-container
        a(href="connect.html").thumb.thumb8
          .thumb-desc
            h2 Connect
            p Redesigning a music streaming web app.
      .thumb-container
        a(href="tabbit.html").thumb.thumb7
          .thumb-desc
            h2 Tabbit
            p Creating a new tab page Chrome extension.
      .thumb-container
        a(href="contrave.html").thumb.thumb6
          .thumb-desc
            h2 Contrave
            p Developing on pharmaceutical sites.
