-var expandNav = true

include ./head.jade
body.home
  include ./menu.jade

  section.portfolio
    .container
      a(href="")
        .thumb.thumb1
      a(href="")
        .thumb.thumb2
      a(href="")
        .thumb.thumb3
      a(href="")
        .thumb.thumb4
      a(href="")
        .thumb.thumb5
