-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    //- a(href="shopify.html").thumb.thumb-shopify
    //-   .thumb-desc
    //-     h2.text-impactful Shopify
    //-     p Making it easier to select a theme
    a(href="docscom.html").thumb.thumb-docscom
      .thumb-desc
        h2.text-impactful Docs.com by Microsoft
        p Redesigning the upload process
    a(href="connect.html").thumb.thumb-connect
      .thumb-desc
        h2.text-impactful Monstercat Connect
        p Developing a music streaming web app
    a(href="camabis.html").thumb.thumb-camabis
      .thumb-desc
        h2.text-impactful Camabis
        p A plant disease detection system
