-var expandNav = true

include ./global/head.jade
body.home
  include ./global/nav.jade

  section.portfolio
    .container
      a(href="tabbit.html")
        .thumb.thumb6
      a(href="")
        .thumb.thumb1
      a(href="")
        .thumb.thumb2
      a(href="")
        .thumb.thumb3
      a(href="")
        .thumb.thumb4
      a(href="")
        .thumb.thumb5
