<!DOCTYPE html>
html(lang="en")
  include ./global/head.jade

  body.v2.flex
    div
      h1 Melody Kuo
      ul.roles
        li currently
          ul
            li apm @uber
        li previously
          ul
            li design @shopify
            li product @microsoft
            li engineering @monstercat
        li
          ul
            li systems design engineering @uwaterloo
      ul.links
        li
          a(href="https://twitter.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-twitter
        li
          a(href="https://goodreads.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-goodreads
        li
          a(href="https://github.com/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-github
        li
          a(href="https://ca.linkedin.com/in/melkuo" target="_blank" onclick="trackOutboundLink(this.href);")
            i.fab.fa-fw.fa-lg.fa-linkedin
        li
          a(href="mailto:hi@melodykuo.com" onclick="trackOutboundLink(this.href);")
            i.far.fa-fw.fa-lg.fa-envelope
