extends ./global/project.jade

block main
  #background
    h2.no-m-top Background
    p Research shows that sexual health education reduces the risk of infection and improves overall well-being. But current methods of seeking health information lack credibility, availability, or contains complex medical jargons. That's why my team is building Juno – an interactive, autonomous Facebook Messenger chatbot that engages in real-time conversations about sexual health to educate young adults.
    p To build Juno, we need to collect a lot of questions and answers. These answers need to be verified by external medical professionals.
    p.problem The dev team need a way to answer and manage questions. Medical professionals need a simple way to verify answers.

  #requirements
    h2 User requirements
    p Use cases for the two user types were developed using a task analysis. The functionality of the system emerges in the bottom row.
    img.screenie(src="img/portfolio/juno-use-cases.png")
    p.caption Task analysis for dev team and medical professionals.

  #nav
    h2 Navigation
    p First, the navigation structure was developed. Originally, I thought to organize it like:
    ul
      li All questions
      li Add question
      li All answers
      li Add answer
      li Verify answer
    p Using a card sorting exercise with a classmate, I realized that answers are always linked to questions.
    img.screenie.w25(src="img/portfolio/juno-card-sort.jpg")
    p For example, "answer question" will always be linked with "all questions". The nav structure will actually be much simpler.
    ul
      li All questions (answer, edit, delete)
      li Add question
      li All answers (edit, delete)

  #wireframing
    h2 Wireframing
    p I did some sketches with pen and paper to get a sense of the layout.
    .screenie-group
      img.screenie(src="img/portfolio/juno-wireframe-1.jpg")
      img.screenie(src="img/portfolio/juno-wireframe-2.jpg")
    p.caption Sketching out screens
    p As I began to visualize the questions themselves, I wanted them to have a max width, so that there aren't too many words per line, to make it easier to read.
    img.screenie.w50(src="img/portfolio/juno-question-sketch.jpg")
    p.caption Sketch of questions
    p The overall structure of the page had to change accordingly to stay balanced.
    img.screenie.w50(src="img/portfolio/juno-wireframe-3.jpg")
    p.caption More sketches
    p I was happy enough with this direction and implemented it to see how it would actually look.
    img.screenie.w75(src="img/portfolio/juno-questions-1.png")
    p.caption Initial implementation of questions page

  #styleguide
    h2 Styleguide
    p For colours, I was inspired by another designer's 
      a(href="http://www.vanschneider.com/colors/" target="_blank") collection of colour combinations
      | . For icons, I used a popular 
      a(href="fontawesome.io/icons") font icon library
      |  for its simplicity and robustness. For fonts, I drew inspiration from 
      a(href="typ.io/libraries/google") font pairing sites
      | .
    img.screenie.w33(src="img/portfolio/juno-styleguide.png")
    p.caption Typography and buttons under new styleguide

  #user-feedback
    h2 User feedback
    p We had our friends help us answer questions. We received feedback on what:
    ul
      li Need a way to filter unanswered questions
      li Should return to same page after answering a question
    p The tool was also launched to medical professionals. Their feedback after using it was:
    ul
      li Need a way to filter unverified answers
      li Answer box could be larger
    p I incorporated the feedback. 
      a(href="https://invis.io/GRAPTLG96") Flows of the web app are on Invision
      | .
    img.screenie.w75(src="img/portfolio/juno-questions-3.png")
    p.caption Questions page after user feedback


block title
  h1.title Juno

block subTitle
  p.sub-title
    | Jan 2017&ndash;present
    br
    | School project
    br
    | HTML, Less, Python, Flask, Heroku

block description
  p.description Designing an admin dashboard for a sexual health chatbot

block links
  li
    a.link(href="http://talktojuno.herokuapp.com" target="_blank")
      i.fa.fa-fw.fa-external-link
      span Juno dashboard

block tableOfContents
  li
    a(href="#background") Background
  li
    a(href="#requirements") User requirements
  li
    a(href="#nav") Navigation
  li
    a(href="#wireframing") Wireframing
  li
    a(href="#styleguide") Styleguide
  li
    a(href="#user-feedback") User feedback
