extends ./global/project.jade

block main
  img(src="img/portfolio/red2.jpg")
  img(src="img/portfolio/red1.jpg")
  img(src="img/portfolio/red3.jpg")

block title
  .title Red

block subTitle
  .sub-title September 2011
  .sub-title 8.5" x 11" Acrylic

block description
  .description Made with a homemade screen printing technique. Stencils were created out of wax paper and acrylic paint was spread on.
