extends ./global/project.jade

block main
  img(src="img/portfolio/robot1.jpg")
  img(src="img/portfolio/robot2.jpg")

block title
  .title Robot

block subTitle
  .sub-title November 2011.

block description
  .description Created out of toy cars for an art course. Robot can be launched forward and its arms are free-moving.
