extends ./global/project.jade

block main
  img(src="img/portfolio/toskyline1.jpg")
  img(src="img/portfolio/toskyline2.jpg")

block title
  .title Toronto Skyline

block subTitle
  .sub-title January 2012
  .sub-title 60cm x 30cm x 1cm Wood

block description
  .description Designed using AutoCAD and cut from wood using a CNC machine for a technological design course.
