extends ./global/project.jade

block main
  p Inspired by 
    a(href="https://chrome.google.com/webstore/detail/momentum/laookkfknpbbblfpciffpaejjkokdgca") Momentum
    | , I decided to make my own new tab page - but with Reddit. Tabbit takes the top image from a subreddit or multireddit and sets it as the background of the new tab page, along with the time and date. Simple and customizable, users can choose any subreddit or multireddit they wish.
  img.screenie(src="img/portfolio/tabbit1.jpg")
  p.caption From /r/EarthPorn.
  p Time can be displayed in 12 or 24 hour format.
  img.screenie(src="img/portfolio/tabbit2.jpg")
  p.caption From /r/FoodPorn.
  p The timeframe can be customized too. That is, images can be taken from different intervals, from the past hour to all time.
  img.screenie(src="img/portfolio/tabbit3.jpg")
  p.caption From /r/VillagePorn.

block title
  .title Tabbit

block subTitle
  .sub-title January 2015&ndash;Present
  .sub-title HTML, CSS, JavaScript

block description
  .description A Chrome extension that takes the top image from a Reddit subreddit or multireddit and sets it as the background of the new tab page.

block links
  a.link(href="http://github.com/melodyk/Tabbit" target="_blank")
    i.fa.fa-fw.fa-github
    span Check out on GitHub.
  br
  a.link(href="https://chrome.google.com/webstore/detail/tabbit/ddbkjbhabfgacalhbinalknoecialihh" target="_blank")
    i.fa.fa-fw.fa-external-link
    span Link to extension in 
      span.nowrap Web Store.
