extends ./global/project.jade

block main
  img.screenie(src="img/portfolio/tabbit1.jpg")
  p.caption From /r/EarthPorn.
  img.screenie(src="img/portfolio/tabbit2.jpg")
  p.caption From /r/FoodPorn.

block title
  .title Tabbit

block subTitle
  .sub-title January 2015&endash;Present
  .sub-title HTML, CSS, JavaScript

block description
  .description A Chrome extension that takes the top image from a Reddit subreddit or multireddit and sets it as the background of the new tab page, along with the time and date. 

block links
  a.link(href="http://github.com/melodyk/Tabbit")
    i.fa.fa-fw.fa-github
    span Check out on GitHub.
  a.link(href="https://chrome.google.com/webstore/detail/tabbit/ddbkjbhabfgacalhbinalknoecialihh")
    i.fa.fa-fw.fa-external-link
    span Link to extension in 
      span.nowrap Web Store.
