extends ./global/project.jade

block main
  img(src="img/portfolio/thread1.jpg")
  img(src="img/portfolio/thread2.jpg")
  img(src="img/portfolio/thread3.jpg")

block title
  .title Thread

block subTitle
  .sub-title April 2012
  .sub-title Thread on bristol board

block description
  .description This geometric picture was created using sewing thread. All curves are made with straight lines.
