extends ./global/project.jade

block main
  p For our Human Factors in Design course, my group decided to redesign the 
    span.nowrap Toronto Transit Commission's 
    | (TTC's) website.
  img.screenie(src="img/portfolio/ttc-current.jpg")
  p.caption Current site for reference.

  p We used methods such as 
    span.nowrap user interviews, 
    span.nowrap user personas, 
    span.nowrap Hierarchical Task Analysis 
    | and more to develop user requirements. In the end, we came up with this proposed redesign.
  img.screenie(src="img/portfolio/ttc-new.jpg")
  p.caption Proposed redesign of site.

  img.screenie(src="img/portfolio/ttc-new-comments.png")
  p.caption Rationale.

block title
  .title TTC Redesign

block subTitle
  .sub-title June 2013

block description
  .description Redesign of TTC's website for a school project.
